.btn-primary {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
}
.navbar-inverse {
    background-color: #0066CC;
    border-color: #1C73A5;
}
.formInput {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
.navigation {
  color: #0066CC;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 20px;
  background: #f0f0f0;
  width: 100%;
}
.footer-text {
  text-align: center;
}

.navLink {
  margin: 8px;
}

.signin {
  margin: 100px 0 0 -150px;
}
