.btn-primary {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
}

.formInput {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.navigation {
  color: #0066CC;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  background: #f0f0f0;
  width: 100%;
}

.footer-text {
  text-align: center;
}

.signin {
  margin: 100px 0 0 -150px;
}

.files {
  margin: 10px 10px 10px 0;
}

.filesList {
  border: 1px solid silver;
  border-radius: 5px;
}

.fileSearchForm {
  margin-top: 25px;
}

input[type=search] {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
}

input[type=search]:focus {
  width: 200px;
}
