.registerForm ul {
  width: 750px;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}

.registerForm li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.registerForm li:first-child, .registerForm li:last-child {
  border-bottom: 1px solid #777;
}

.registerForm h2 {
  margin: 0;
  display: inline;
}

.registerForm label {
  width: 150px;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px;
}

.registerForm input {
  height: 35px;
  width: 250px;
  padding: 5px 8px;
}

.registerForm button {
  margin-left: 185px;
  border-radius: 3px;
}

.registerForm input {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.registerForm input:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
