.header {
    margin: 20px 20px;
}

.userNameLogo {
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 3px;
    background-color: #e4e8ea;
}

.userNameLogo h3 {
    margin: 10px 18px;
    color: #ffffff;
    font-weight: bold;
}

.fileOwner {
    margin-left: 60px;
    padding-top: 15px;
    font-weight: bold;
}

.fileName {
    padding-top: 30px;
    font-weight: 500;
}
